<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-color: #f8eded;
            font-family: 'Roboto', sans-serif;
        }

        h1 {
            color: blue;
        }

        .form {
            width: 500px;
            padding: 20px;
            max-width: 90%;
            align-items: center;
            background: rgb(213, 240, 241);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }

        .container {
            width: 800px;
            height: 450px;
            padding: 20px;
            max-width: 90%;
            align-items: center;
            background: rgb(230, 238, 240);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }

        .form-group {
            padding: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1> Set Profile</h1>

        <form class="form" id="profileform">

            <div class="form-group">
                <label for="username" class="form-label">UserName:</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="mobile_no" class="form-label">Mobile_no:</label>
                <input type="text" class="form-control" name="mobile_no" id="mobile_no">
            </div>
            <div class="form-group">
                <label for="gender" class="form-label">Gender:</label>
                <input type="radio" name="gender" value="Male"> Male &nbsp; &nbsp;
                <input type="radio" name="gender" value="Female"> Female &nbsp; &nbsp;
                <input type="radio" name="gender" value="Other"> Other
            </div>
            <div class="form-group">
                <label for="address" class="form-label">Address:</label>
                <textarea name="address" id="address" rows="6" cols="20">Enter address here...</textarea>
            </div>
            <div class="form-group">
                <label for="website" class="form-label">WebSite:</label>
                <input type="text" class="form-control" name="website" id="website">
            </div>

            <input type="submit" class="ProfileSubmit-button" value="Submit">

        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script type="text/javascript">
        var frm = $('#profileform');
        token = localStorage["x-auth-token"]

        frm.submit(function (e) {
            console.log("form submitted")
            e.preventDefault();
            let formData = frm.serialize();
            console.log(formData)
            $.ajax({
                type: 'put',
                url: `/api/profiles?token=${token}`,
                data: frm.serialize(),
                success: function (data) {
                    if ("x-auth-token" in localStorage) {
                        console.log('Submission was successful.');
                        console.log(data);
                        window.location = "/"
                    } else {
                        alert('Not valid user...!');
                        window.location = "/api/users/logIn"
                    }
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
            });
        });
    </script>


</body>

</html>