<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .95rem;
  }
  
  ul, li {
    list-style-position: inside;
  }
  
  h3 {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
  }
  
  
  button {
    border: none;
    background: #265f82;
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: background .3s ease;
  }
  
  button:hover {
    border: none;
    background: #1F4C69;
    color: white;
    padding: 10px;
  }
  
  button:disabled {
    cursor: default;
    background: #698ea5;
  }
  
  .centered-form {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background: -moz-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(49,84,129,1)), color-stop(100%, rgba(39,107,130,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ie10+ */
    background: linear-gradient(325deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* w3c */
  }
  
  .centered-form__form {
    background: rgba(250, 250, 250, 0.9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 20px;
    width: 230px;
  }
  
  .form-field {
    margin: 20px 0;
  }
  
  .form-field > * {
    width: 100%;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 7px;
  }
  
  .form-field input, .form-field select {
    border: 1px solid #e1e1e1;
    padding: 10px;
  }
  
  .chat {
    display: flex;
  }
  
  .chat__sidebar {
    overflow-y: scroll;
    width: 260px;
    height: 100vh;
    background: -moz-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(49,84,129,1)), color-stop(100%, rgba(39,107,130,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ie10+ */
    background: linear-gradient(325deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* w3c */
  }
  
  .chat__sidebar h3 {
    color: #e6eaee;
    margin: 10px 20px;
    text-align: left;
  }
  
  .chat__sidebar ul {
    list-style-type: none;
  }
  
  .chat__sidebar li {
    background: #e6eaee;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
  
  .chat__main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  
  .chat__messages {
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .chat__footer {
    background: #e6eaee;
    display: flex;
    padding: 10px;
    /*height: 60px;*/
    flex-shrink: 0;
  }
  
  .chat__footer form {
    flex-grow: 1;
    display: flex;
  }
  
  .chat__footer form * {
    margin-right: 10px;
  }
  
  .chat__footer input {
    border: none;
    padding: 10px;
    flex-grow: 1;
  }
  
  .chat__messages {
    list-style-type: none;
    padding: 10px;
  }
  
  .message {
    padding: 10px;
  }
  
  .message__title {
    display: flex;
    margin-bottom: 5px;
  }
  
  .message__title h4 {
    font-weight: 600;
    margin-right: 10px;
  }
  
  .message__title span {
    color: #999;
  }
  
  @media (max-width: 600px) {
    * {
      font-size: 1rem;
    }
  
    .chat__sidebar {
      display: none;
    }
  
    .chat__footer {
      flex-direction: column;
    }
  
    .chat__footer form {
      margin-bottom: 10px;
    }
  
    .chat__footer button {
      margin-right: 0px;
    }
  }
  
    </style>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
  <title>post page</title>
</head>

<body class="chat">
  <div class="chat__sidebar">
    <!-- <h3>Chat Room:</h3>
    <div id="roomname"></div>
    <h3> </h3> -->
    <h3>People:</h3>
    <div id="users"></div>
  </div>

  <div class="chat__main">

    <dl id="messagelist" class="chat__messages"></dl>

    <div class="chat__footer">
      <form id="message-form">
        <input name="message" type="text" placeholder="Enter Message here" autofocus autocomplete="off" />
        <button>Send</button>
        <button>Upload Image</button>
      </form>
      <!-- <button id="send-location">Send location</button> -->
    </div>
  </div>


  <script id="messagelist-template" type="text/template">
    <dd class="messages">
      <div class="message__title">
        <h4>{{from}}</h4>
        <span>{{createdAt}}</span>
      </div>
      <div class="message__body">
        <p>{{Image}}</p> <br>
        <p>{{text}}</p> <br>
        <button>Like</button>
      </div>
    </dd>
  </script>


  <!-- <script id="location-messagelist-template" type="text/template">
    <dd class="messages">
      <div class="message__title">
        <h4>{{from}}</h4>
        <span>{{createdAt}}</span>
      </div>
      <div class="message__body">
        <a href="{{url}}" target="_blank">My current location</a>
      </div>
    </dd>
  </script> -->



  <script src="socket.io/socket.io.js"></script>
  <script></script>

</body>

</html>