
        <div class="chat">
            <div class="chat__sidebar">
                <!-- <h3>Chat Room:</h3>
            <div id="roomname"></div>
            <h3> </h3> -->
                <h3>People:</h3>
                <div id="users"></div>
            </div>

            <div class="chat__main">

                <dl id="messagelist" class="chat__messages"> </dl>

                <div class="chat__footer">
                    <form id="message-form">
                        <input id="textarea" cols="40" name="message" type="text"
                            placeholder="Enter Message here" autofocus autocomplete="off" />
                        <button>Send</button>
                        <button>Upload Image</button>
                    </form>

                </div>
            </div>

            <script id="messagelist-template" type="text/template">
            <dd class="messages">
              <div class="message__title">
                
                <span id="time"></span>
              </div>
              <div class="message__body">
                <p>{{Image}}</p> <br>
                <p>{{text}}</p> <br>
                <button>Like</button>
              </div>
            </dd>
          </script>


            <!-- <script id="location-messagelist-template" type="text/template">
            <dd class="messages">
              <div class="message__title">
                <h4>{{from}}</h4>
                <span>{{createdAt}}</span>
              </div>
              <div class="message__body">
                <a href="{{url}}" target="_blank">My current location</a>
              </div>
            </dd>
          </script> -->

        </div>
