<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-color: #f8eded;
            font-family: 'Roboto', sans-serif;
        }

        h1 {
            color: blue;
        }

        .form {
            width: 500px;
            padding: 20px;
            max-width: 90%;
            align-items: center;
            background: rgb(213, 240, 241);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }

        .container {
            width: 800px;
            height: 450px;
            padding: 20px;
            max-width: 90%;
            align-items: center;
            background: rgb(230, 238, 240);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }

        .form-group {
            padding: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1> Set Profile</h1>

        <form class="form" id="profileForm">

            <div class="form-group">
                <label for="username" class="form-label">UserName: <p id="username"> </p></label>
                

            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email: <p id="email"> </p></label>
                
            </div>
            <div class="form-group">
                <label for="mobile_no" class="form-label">Mobile_no: <p id="mobile_no"> </p></label>
                
            </div>
            <div class="form-group">
                <label for="gender" class="form-label">Gender: <p id="gender"> </p></label>
                
            </div>
            <div class="form-group">
                <label for="address" class="form-label">Address: <p id="address"> </p></label>
                
            </div>
            <div class="form-group">
                <label for="website" class="form-label">WebSite: <p id="website"> </p></label>
                
            </div>
        </form>
        <br>
        <a href="/api/profiles/addProfile"> Add Profile </a>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="/api/profiles/editProfile"> Edit Profile </a>
        

    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script type="text/javascript">
        var frm = $('#profileForm');

        frm.submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'get',
                url: '/api/users/profiles/me',
                data: frm.serialize(),
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
            });
        });
    </script> -->

</body>

</html>